<table class="pure-table">
	<thead>
		<tr>
			<th>Thumbnail</th>
			<!--
			<th>Asking Price</th>
			<th>Odometer</th>
			<th>Engine Size</th>
			<th>Model</th>
			<th>Year</th>
			<th>Body Type</th>
			<th>Transmission</th>
			<th>Fuel Type</th>
			-->
			<th>Image View</th>
			<th>Model</th>
		</tr>
	</thead>
	<!--ROWS-->
</table>
